body {
    margin: 0;
    
}
.container {
    flex-direction: column;
    display: flex;
    
}
.header {
    background-color: #1F2937;
    color: aliceblue;
    padding: 0 100px;
    text-align: center;
}
.body{
    text-align: center;
    margin-top: 12%;
}
.input-field {
    text-align: center;
    padding-left: 33.7%;
    font-weight: 24px;
}

button {
    width: 8%;
    padding: 20px 0;
    margin: 2px 0;
    border-radius: 4px;
}
.btn-shrink {
    width: 33%;
}
button:hover {
    background-color: rgb(200, 195, 195);
}
.rows {
    padding: 0 10px;
}
.operands{
    font-size: 20px;
    background-color: pink;
}
#clear {
    background-color: red;
}
#equals {
    background-color: aqua;
}
.footer {
    position: fixed;
    bottom: 0;
    background-color: #1F2937;
    width: 100%;
    text-align: center;
    color: white;
    margin-left: 0;
}