body {
    margin: 0;
}
.container {
    flex-direction: column;
    display: flex;;
}
.header {
    background-color: #1F2937;
    color: aliceblue;
    padding: 0 100px;
    text-align: center;
}
.body{
    text-align: center;
}

buttton {

}
.footer {
    position: fixed;
    bottom: 0;
    background-color: #1F2937;
    width: 100%;
    text-align: center;
    color: white;
    margin-left: 0;
}